<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KAnimGui.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KAnimGui.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KAnimGui.Properties>
            <setting name="OpenFolderAfterConvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTxtToBytes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomKsePath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomKsePath" serializeAs="String">
                <value />
            </setting>
            <setting name="NoSuccessPopup" serializeAs="String">
                <value>False</value>
            </setting>
        </KAnimGui.Properties>
        <KAnimGui.Settings1>
            <setting name="OpenFolderAfterConvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTxtToBytes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomKsePath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomKsePath" serializeAs="String">
                <value />
            </setting>
        </KAnimGui.Settings1>
    </userSettings>
</configuration>